.background_gray{
    display:inline-block;
    background-color: rgb(214, 212, 212);
    border: 1px solid black;
    text-align:right;
    width: 100px;
}
.wid33 > .left{
    width:33%;
    float:left;
}
.wid33 > .middle{
    width:33%;
    float:left;
}
.wid33 > .right{
    width:33%;
    float: left;
}
.block{
    display: inline-block;
    width:20%;
}
@media (max-width:800px) {
    .wid33 > .left, .wid33 > .middle,.wid33 > .right{width:100%;}
}