.wid33{
    display: inline;
    width:32.5%;
    height:170px;
}

.leftfan{
    width:32.5%;
    float: left;
    text-align: center;
    height:250px;
}
.rightfan{
    width:65.5%;
    float:left;
    height: 250px;
}
.radiobox{
    width:100%;
    text-align: center;
    position: relative; 
            top: 50%;   
            left: 50%;   
            -webkit-transform: translate(-50%, -50%);   
            -moz-transform: translate(-50%, -50%);   
            -ms-transform: translate(-50%, -50%);   
            -o-transform: translate(-50%, -50%);   
            transform: translate(-50%, -50%);
}
.fansetimg{
    width:100%;
    text-align: center;
    position: relative; 
            top: 50%;   
            left: 50%;   
            -webkit-transform: translate(-50%, -50%);   
            -moz-transform: translate(-50%, -50%);   
            -ms-transform: translate(-50%, -50%);   
            -o-transform: translate(-50%, -50%);   
            transform: translate(-50%, -50%);
}

.textleft{
    text-align: left;
}

.myblock{
    display: inline-block;
    width:30%;
}

input[type="range"] {
    width:80%;
  }

@media (max-width:800px) {
    .wid33,.rightfan {width:100%;}
    .fansetimg,.leftfan{display: none;}
}