.wid33{
    display: inline;
    width:32.5%;
    height:170px;
}

.leftfan{
    width:32.5%;
    float: left;
    text-align: center;
    height:170px;
}
.rightfan{
    width:65.5%;
    float:left;
    height: 170px;
    text-align: center;
}
@media (max-width:800px) {
    .wid33,.leftfan,.rightfan {width:100%;}
    
}