.wholeleft{
    width:49.5%;
    height:500px;
    float:left;
}

.upright{
    width:100%;
    height:300px;
    float:left;
}

.downright{
    width:100%;
    height:200px;
    float:left;
}

.supa{
    width:100%;
    height:500px;
}
.smbuset{
    width:300px;
    position: relative; 
            top: 50%;
            left: 50%;   
            -webkit-transform: translate(-50%, -50%);   
            -moz-transform: translate(-50%, -50%);   
            -ms-transform: translate(-50%, -50%);   
            -o-transform: translate(-50%, -50%);   
            transform: translate(-50%, -50%);
}
.setImgMiddle{
    width:100%;
    text-align: center;
    position: relative; 
    top: 50%;   
    left: 50%;   
    -webkit-transform: translate(-50%, -50%);   
    -moz-transform: translate(-50%, -50%);   
    -ms-transform: translate(-50%, -50%);   
    -o-transform: translate(-50%, -50%);   
    transform: translate(-50%, -50%);
}
.disabled_block{
    width:100px;
}
.button{
    width:100px;
}
@media (max-width:800px) {
    .wholeleft{width:100%;}
}