.blueword{
    font-weight: bold;
    font-size: larger;
    color:rgb(77, 127, 207);
}
.wid70{
    width:69%;
    display: inline;
}
.wid30{
    width:30%;
    display: inline;
}
.wid50{
    width:40%;
    display: inline;
}
.display > .left{
    width:60%;
    float:left;
}
.display > .right{
    width:40%;
    float:left;
}
.ram > .left{
    width:60%;
    float:left;
}
.ram > .right{
    width:40%;
    float:left;
}

@media (max-width:800px) {
    .wid70,.wid30,.display > .left,.display > .right{width:100%;}
}