.blueword > .p{
    display: inline;
}
.watchdog_block{
    display: inline-block;
    width:60%;
}
.background_white{
    background-color:white;
    text-align: center; 
    color:rgb(77, 127, 207);
    font-weight: bold;
    position: relative;
    margin-top: 200px;
}
.watchdog{
    height: 400px;
}
.watchset{
    width:700px;
    position: relative; 
            top: 50%;
            left: 50%;   
            -webkit-transform: translate(-50%, -50%);   
            -moz-transform: translate(-50%, -50%);   
            -ms-transform: translate(-50%, -50%);   
            -o-transform: translate(-50%, -50%);   
            transform: translate(-50%, -50%);
}
.buttonset{
    text-align: center;
}
.buttonset > .button{
    width:100px;
}

@media (max-width:800px){
    .watchset{width:480px}
}